<h1>Sign up Page</h1>
<br>
<%if flash[:error]%>
<%=flash[:error]%>
<%end%>
<% if @user.errors.any? %>

  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this article from being saved:</h2>

    <ul>
      <%= @user.errors.full_messages.each do |error| %>
        <li><%= error%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>


    <div class="mb-3">
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, class: "form-control", placeholder: "Username"%>
     </div>

     <div class="mb-3">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="mb-3">
     <%= f.submit "Create Account", class: "btn btn-primary" %>
     </div>
<%end%>