
  <div class="container">
    
     <% if current_user.reviews.present? %>
    <h4>Here are your reviews:</h4>
    
    <br>
    
    
  <% @reviews.each do |rev|%>
    
    <ul>
        <p><li><strong>Course:</strong> <%= rev.course.name %></p></li>
        <p><strong>Review title:</strong> <%= rev.title %></p>
        <p>Posted: <%= rev.created_at.strftime('%B %d, %Y') %> </p> 
              
              <%= link_to "View", review_path(rev), :class => "btn btn-light" %> |
              <%= link_to "Edit", edit_review_path(rev) %> |
              <%= link_to "New", new_user_review_path(rev) %> |   
             <%= link_to "Delete", rev, data: {
                 turbo_method: :delete,
                 turbo_confirm: "Are you sure?"
                 } %>
              </ul>
              
          
          <% end %>
          <br>
          <%= link_to 'Return to the home page', user_path(current_user) %>
    </div>
    <% else %> 
    <div class="no-reviews">
    <h2>No reviews yet.</h2>
    <%= link_to 'Return to the main menu', user_path(current_user), :class => "btn btn-light"%>
    </div>
<% end %>

<style>
.no-reviews {
  text-align: center;
  position: absolute;
  top: 250px;
  right: 625px;
}
</style>